@import url('./main-layout.css');
@import url('./views/eventchat-view.css');
@import url('@fontsource/barlow/index.css');    html {
      --lumo-primary-color: hsl(267, 65%, 68%);
      --lumo-primary-color-50pct: hsla(267, 65%, 68%, 0.5);
      --lumo-primary-color-10pct: hsla(267, 65%, 68%, 0.1);
      --lumo-primary-text-color: hsl(267, 65%, 68%);
--lumo-font-family: Barlow;

    }

    [theme~="dark"] {
      --lumo-primary-color: hsl(267, 65%, 68%);
      --lumo-primary-color-50pct: hsla(267, 65%, 68%, 0.5);
      --lumo-primary-color-10pct: hsla(267, 65%, 68%, 0.1);
      --lumo-primary-text-color: hsl(267, 65%, 68%);

    }
